/* -----------------------------------------------
Footer
------------------------------------------------- */
.index {
    padding-bottom: 50px;
}
.footer {
    min-height: 45px;
    font-size: 90%;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    a { color: $white; }
}