/* -----------------------------------------------
Basic Setting
------------------------------------------------- */

/*--- Font ---*/
$browser-font-context: 16px;
$font-color: #7D7D7D;
$font-weight: 200;
$line-height: 1.5rem;
$font-stack: 'Prompt', sans-serif;



@include media-breakpoint-up(sm) {

}

@include media-breakpoint-up(md) {

}

@include media-breakpoint-up(lg) {

}